/* Write your code here. */
.bg-container {
  background-image: linear-gradient(#1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.letters-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image {
  height: 90%;
}
.heading {
  color: #ffffff;
  font-size: 50px;
}
.label {
  color: #ffffff;
  font-family: 'roboto';
}
.input {
  height: 40px;
  width: 400px;
  background-color: transparent;
  border-color: #ffffff;
  margin: 10px;
}
.counter-container {
  background-color: #ffffff;
  padding: 30px;
  width: 50%;
  border-radius: 10px;
}
.para {
  color: #1d976c;
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 500;
}
